#playArea {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  padding-top: 32px;
  box-sizing: border-box;
}

#play {
    color: white;
    font-family: stratum, arial;
    background: linear-gradient(#01a21a 20%, #245922 80%, #004016 100%);
    border: none;
    font-weight: bold;
    font-size: 40px;
    border-radius: 3px;
    width: 200px;
    padding-top: 3px;
    padding-bottom: 6px;
    transition: .05s;
    margin-top: 32px;
}

#play:not([disabled]):hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#play:not([disabled]):active {
    filter: brightness(0.8);
}

#playSubtext {
    font-family: stratum, arial;
    color: #ffffff9e;
    padding-top: 4px
}

#play[disabled] {
    background: linear-gradient(#777 20%, #393939 80%, #2b2b2b 100%);
    color: #ffffff8a;
    opacity: 0.7;
}


#playStats {
  display: Flex;
  flex-flow: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 32px 0;
  margin: auto 0;
  width: 100%;
}
.playStatFigure {
  color: white;
  font-family: stratum, arial;
  font-size: 30px;
  font-weight: bold;
}
.playStatDesc {
  font-family: stratum, arial;
  font-size: 25px;
  color: #ffffffc4;
}
.playStat {
  display: Flex;
  gap: 8px;
  height: 32px;
  align-items: center;
}


#lobbyMembers {
  width: 90%;
  background: #353D487A;
  height: 170px;
  box-shadow: 0 0 2px #1E2126E5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.lobbyMember {
  width: 75px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.lobbyMemberAvatar {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 2px #111111E5;
}

.lobbyMemberRank {
  margin-top: 10px;
  width: 36px;
  min-height: 36px;
}


#lobbyOptions {
  height: 70px;
  background: #2a343d;
  box-shadow: 0 0 2px #1E2126E5;
  border-radius: 2px;
  width: 90%;
  margin-top: auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.lobbyOption {
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0.7;
  transition: .1s;
  display: none;
}
.lobbyOptionIcon {
  width: 22px;
  height: 22px;
}
.lobbyOptionText {
  font-family: stratum, arial;
  color: #72b3e5;
}
.lobbyOption:hover {
  cursor: pointer;
  filter: brightness(1.1);
  opacity: 1;
}

#playStatsBg {
  position: absolute;
  width: 600px;
  height: 172px;
  object-fit: cover;
  mask-image: linear-gradient(transparent 0%, white 30%, white 60%, transparent 90%);
  z-index: -1;
  filter: saturate(0.7);
}


.lobbyMemberButtonContainer {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(59px, -86px);
  border-radius: 99px;
  background: linear-gradient(#292f35 0%, #242a32 60%, #181e24);
  box-shadow: 0 0 2px #33363c;
}
.lobbyMemberButtonIcon {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 7px;
  opacity: 0.8;
}

.lobbyMemberButtonContainer:not([disabled]):hover {
    cursor: pointer;
    filter: brightness(1.2);
}


.lobbyMemberName {
  width: 85px;
  font-family: stratum, arial;
  color: #d5d5d5;
  background: linear-gradient(white 0%, black 20%);
  background-clip: text;
  display: inline-block;
  white-space: pre;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}