<link rel=stylesheet href="/styles/premium.css">
<div id="premiumPage">
    <div id="premiumHeaderContainer">
        <img id="premiumMainLogo" src="/assets/premium_midres.png">
        <h1 id="premiumMainHeader">CSGOCC Premium</h1>
    </div>
    <div id="premiumBenefits">
        <div class="premiumBenefit">
            <img class="premiumBenefitIcon" src="/assets/premium_demos.png">
            <div class="premiumBenefitText">
                <span class="premiumBenefitHeader">Demo Files</span>
                <span class="premiumBenefitSubheader">For your last 5 matches</span>
            </div>
        </div>
        <div class="premiumBenefit">
            <img class="premiumBenefitIcon" src="/assets/premium_priority.png">
            <div class="premiumBenefitText">
                <span class="premiumBenefitHeader">Priority Queue</span>
                <span class="premiumBenefitSubheader">For you and whoever you queue with</span>
            </div>
        </div>
        <div class="premiumBenefit">
            <img class="premiumBenefitIcon" src="/assets/premium_namecolors.png">
            <div class="premiumBenefitText">
                <span class="premiumBenefitHeader">Name Colors</span>
                <span class="premiumBenefitSubheader">Personalize your name further</span>
            </div>
        </div>
        <div class="premiumBenefit">
            <img class="premiumBenefitIcon" src="/assets/promote.png">
            <div class="premiumBenefitText">
                <span class="premiumBenefitHeader">Captain Priority</span>
                <span class="premiumBenefitSubheader">For every match</span>
            </div>
        </div>
        <span id="premiumAndMore">And more...</span>
    </div>
    <div id="premiumPrice">
        <span id="premiumPriceMain">$4.99/month</span>
        <span id="premiumPriceSubtext">excl. tax</span>
    </div>
    <button id="premiumSubscribe" disabled>SUBSCRIBE</button>
    <span id="premiumSubscribeSubtext">Loading...</span>
</div>

<script src="/scripts/premium.js" nonce="<%=nonce%>"></script>